<div class="container-img">
    <div>
        <img src="/image/cotizacion.jpg" alt="">
        <div class="centrado">
            <h1>BIENVENIDOS </h1><br>
            <h4>VIVE LA EXPERIENCIA DEL SERVICIO AL CLIENTE EN NUESTRA SEDE </h4>
        </div>
    </div>
</div>

<div class="contenedor-head">
    <h1>AHORA PUEDES AGENDAR TU TEST DRIVE</h1>
    <P>SULIMA se reserva los derechos a cambios sin previo aviso, en equipos, materiales,
        y otros; para aplicaciones en condiciones locales.
    <p>
        Cada modelo puede ser descontinuado sin previo aviso.
        Aquí encontrarás cátalogo de autos disponibles.
    </p>
    </P>
</div>

<div class="container-consesionario">
    <div class="testdrive">
        <img src="/image/concesionarios.jpg" alt="">
        <div class="test">
            <a href="/insertarPersonas">
                <h4>AGENDA UN TEST DRIVE</h4>
            </a>
        </div>
    </div>
</div>

<div class="container-servicio">
    <p>Con nuestro servicio de <strong>test drive</strong> tendrás la oporunidad de conducir el
        vehículo de tus sueños. Disfruta el lujo, los accesorios y la tecnología.</p>
    <h3>SULIMA ES UN PROYECTO VIAJANDO EN CUATRO RUEDAS</h3>
</div>