<footer class="container-footer">
    <div class="footer">
        <h2>ENLACES DE INTERÉS</h2>
        <ol>
            <ul>NOTICIAS</ul>
            <ul>FICHAS TÉCNICAS</ul>
            <ul>REVISTAS</ul>
        </ol>
    </div>

    <div class="footer">
        <h2>AYUDA</h2>
        <ol>
            <ul>CONTACTO</ul>
            <ul>PREGUNTAS FRECUENTES</ul>
            <ul>MAPA DEL SITIO</ul>
        </ol>
    </div>
    <div class="footer">
        <h2>REDES SOCIALES</h2>
        <ol>
            <ul>FACEBOOK</ul>
            <ul>YOUTUBE</ul>
            <ul>INSTAGRAM</ul>
            <ul>TWITTER</ul>
        </ol>
                <p>@COPYRIGHT ASIGNATURA DESARROLLO WEB TECNOLOGICO DE ANTIOQUIA</p>
    </div>     
</footer>



