<div class="container-menu">
  <nav class="menu-navegacion">
    <a href="/" class="nav">INICIO</a>
    <a href="insertarEmpleados" class="nav">EMPLEADOS</a>
    <a href="listadoPersonas" class="nav">AGENDA</a>
    <a href="listadoEmpleados" class="nav">PLANTILLA</a>
  </nav>
</div>
   
<nav class="submenu">
  <div class="submenu-nav">
    <a href="#VEHÍCULOS" class="nav">VEHÍCULOS</a>
    <a href="#NOTICIAS" class="nav">NOTICIAS</a>
    <a href="#NUESTRACOMPAÑÍA" class="nav">NUESTRA COMPAÑÍA</a>
  </div>
</nav>