<div class="container-formulario">
    <h1>COMIENZA TU DESTINO</h1>
    <div class="card text-center">
        <div class="card-header">
            Vive la experiencia SULIMA con una prueba de manejo
        </div><br>
        <div class="card-body">
            <form action="insertarPersonas" method="POST">
                <div class="mb-1">
                    <input type="text" class="form-control" name="cedula" placeholder="Cedula">
                </div><br>
                <div class="mb-2">
                    <input type="text" class="form-control" name="nombre" placeholder="Nombres">
                </div><br>
                <div class="mb-3">
                    <input type="text" class="form-control" name="apellido" placeholder="Apellidos">
                </div><br>
                <div class="mb-3">
                    <input type="text" class="form-control" name="celular" placeholder="Número Celular">
                </div><br>
                <div class="mb-3">
                    <input type="text" class="form-control" name="ciudad" placeholder="Ciudad">
                </div><br>
                <div class="autorizacion">
                    <input type="checkbox">
                    Autorizo a SULIMA para que mis datos personales sean tratados conforme al manual interno de
                    políticas y
                    procedimientos de datos personales que se encuentra publicada en la página web www.sulima.com ,
                    disponible aquí.
                </div><br>
                <div class="mb-4">
                    <input type="submit" class="boton" value="Registrar">
                </div>

            </form>
        </div>
    </div>
</div>