<div class="mensaje">
    <h3>FELICITACIONES POR TU REGISTRO.</h3>
    <h3>EN LOS PRÓXIMOS DÍAS UN ASESOR SE CONTACTARÁ
        CONTIGO PARA INICIAR EL VIAJE EN EL VEHÍCULO DE TUS SUEÑOS.
    </h3>
    <a href="/">
        <h3>PÁGINA PRINCIPAL</h3>
    </a>

</div>